<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'website/recipes.css' %}" />
    </head>
    <body>
        <h1>おすすめレシピ</h1>
        <div class="title">
            {{title}}
        </div>
        <div class="ingr">
            <p>材料</p>
                <ul>
                {% for ingredient in ingr %}
                <li>
                    {% for i in ingredient %}
                    {{ i }}
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="food">
            <img src="{{img}}">
        </div>
        <div class="how">
            <P>作り方</P>
            <ol>
                {% for how in howto %}
                    <li>
                        {{how}}
                    </li>
                {% endfor %}
            </ol>

        </div>
    </body>
</html>